<h1>{{ question }}</h1>
<!-- <div *ngFor="let voteOption of option">
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="{{ voteOption.text }}"
      id="{{ voteOption.value }}"
      value="{{ voteOption.value }}"
    />
    <label class="form-check-label" for="{{ voteOption.value }}">
      {{ voteOption.text }}
    </label>
  </div>
</div> -->

<table class="table-stripped">
  <tr>
    <th>Programming Languages</th>
    <th>Vote</th>
  </tr>

  <tr *ngFor="let voteOption of options">
    <td>{{ voteOption.text }}</td>
    <td>
      <button class="btn btn-primary" (click)="selectedVote(voteOption.value)">
        Vote Me
      </button>
    </td>
  </tr>
</table>



<div style="display: block">
  <canvas
    baseChart
    [colors]="colors"
    [data]="pieChartData"
    [labels]="pieChartLabels"
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend"
  >
  </canvas>
</div>
